.mainPage{
    padding-top: 125px;
}

a{
    text-decoration: none !important;
    color: #000000;
}

#btmComplete{
    padding: 0px;
}

.elementOfElection{
    /* padding: 0px; */
    /* margin: 0px; */
    border:1px solid #bbbbbb !important;
    box-shadow:0 1px 4px 0 rgba(0,0,0,0.5); 
    /* width: 100%; */
}

.page100{
    width: 100%;
    padding: 0px;
    /* margin: 0px; */

}

.row{
    padding: 10px 0px;
}

.zero{
    padding: 0px;
}

.bigText{
    font-size: 26px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.btnService{
    font-style: italic;
    text-decoration-line: underline;
}
.mainContainerBoxShadow{
    border:1px solid #E0E0E0;
    width: 100%;
    box-shadow:0 5px 5px 0 rgba(0,0,0,0.5); 
}
.nameOfElection{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:20px;
}