<form class="pageSignUp ">
  <div class="container-fluid block boxShadow  ">
    <div class="signUpText"><span class="textSignUp">SignUp</span></div>
    <div class="row text-center  ">
      <div class="col-4 col-md-4"><input name="firstName" [(ngModel)]="creds.firstName" placeholder="First Name"></div>
      <div class="col-4 col-md-4">
        <input name="region" autocomplete="off" list="listOfRegion" [(ngModel)]="creds.region" placeholder="Region">
        <datalist  id="listOfRegion">
          <option value="Cherkasy"></option>
          <option value="Chernihiv"></option>
          <option value="Chernivtsi"></option>
          <option value="Dnipro"></option>
          <option value="Donets'k"></option>
          <option value="Ivano-Frankivs'k"></option>
          <option value="Kharkiv"></option>
          <option value="Kherson"></option>
          <option value="Khmelnytsky"></option>
          <option value="Kropyvnytskyi"></option>
          <option value="Kyiv"></option>
          <option value="Luhans'k"></option>
          <option value="Lviv"></option>
          <option value="Mykolayiv"></option>
          <option value="Odesa"></option>
          <option value="Poltava"></option>
          <option value="Rivne"></option>
          <option value="Sumy"></option>
          <option value="Ternopil"></option>
          <option value="The City of Kyiv"></option>
          <option value="Vinnytsya"></option>
          <option value="Volyn"></option>
          <option value="Zakarpattya"></option>
          <option value="Zaporizhzhya"></option>
          <option value="Zhytomyr"></option>
        </datalist>
        <!-- <input name="region" [(ngModel)]="creds.region" placeholder="Region"> -->
      </div>
      <div class="col-4 col-md-4"><input name="password" type="password" [(ngModel)]="creds.password"
          placeholder="Password"></div>
    </div>
    <div class="row text-center">
      <div class="col-4 col-md-4"><input name="lastName" [(ngModel)]="creds.lastName" placeholder="Last Name"></div>
      <div class="col-4 col-md-4"><input name="idn" [(ngModel)]="creds.idn" placeholder="IDN"></div>
      <div class="col-4 col-md-4"><input name="password" type="password" [(ngModel)]="creds.password"
          placeholder="Confirm Password"></div>
    </div>
    <div class="row text-center">
      <div class="col-4 col-md-4"><input name="fathersName" [(ngModel)]="creds.fathersName" placeholder="Fathers Name">
      </div>
      <div class="col-4 col-md-4"><input name="dateOfBirth" type="date" [(ngModel)]="creds.dateOfBirth"
          placeholder="Birthday"></div>
      <div class="col-4 col-md-4"></div>
    </div>
    <div class="row downForNastya">
      <div class="co l-8 col-md-8  ">
        <a class="vidstypPerfectForNastya" [routerLink]="['/signin']">Already have an account?</a>
      </div>
      <div class="col-2 col-md-2"><button class="submit">Submit</button></div>
      <div class="col-2 col-md-2"><button class="cancel">Cancel</button></div>
    </div>
    <!-- <a href="">Already have an account?</a>
    <a [routerLink]="['/signin']">Sign In</a>

    <a [routerLink]="['/signin']">Already have an account?</a>
    <a [routerLink]="['/signup']">Sign Up as User</a> -->
  </div>
  <!-- <form (ngSubmit)="onSubmit()">
    First Name <input name="firstName" [(ngModel)]="creds.firstName" placeholder="First Name"><br>
    Last Name <input name="lastName" [(ngModel)]="creds.lastName" placeholder="Last Name"><br>
    Fathers Name <input name="fathersName" [(ngModel)]="creds.fathersName" placeholder="Fathers Name"><br>
    Region <input name="region" [(ngModel)]="creds.region" placeholder="Region"><br>
    IDN <input name="idn" [(ngModel)]="creds.idn" placeholder="IDN"><br>
    Birthday <input name="dateOfBirth" type="date" [(ngModel)]="creds.dateOfBirth" placeholder="Birthday"><br>
    Password <input name="password" type="password" [(ngModel)]="creds.password" placeholder="password"><br>
    <input type="submit" value="submit">
  </form> -->
</form>
<!-- <a [routerLink]="['/signin']">Sign In</a>
<a [routerLink]="['/signup']">Sign Up as User</a> -->