*{
  font-family: 'ABeeZee', sans-serif;
  font-size:14px;
}
img{
  height: 30px;
}
a{
  text-decoration: none !important;
  color: #000000;
}
.pageFooter{
  background: #F7F6F6;
  height: 100px;
  position: relative;
  width:100% !important;
  padding: 10px;
  position: absolute;
  bottom:0px;
}