<!-- <div class="footer">
    <div class="footerInfo">
        <div class="footerDescription"><strong>V-GOLOS</strong> - a web application, that allows people to vote <br>
            online and find out result of different elections.</div>
        <div class="footerContactInfoIcon">
            <ul>
                <li id="IconGitHub"><img src="https://img.icons8.com/windows/32/000000/github.png"></li>
                <li id="IconEmail"><img src="https://img.icons8.com/ios-glyphs/30/000000/secured-letter.png"></li>
                <li id="IconTelegram"><img src="https://img.icons8.com/ios/50/000000/sent-filled.png"></li>
            </ul>
        </div>
    </div>
    <div class="footerLegal">
        <ul>
            <li>Private Policy</li>
            <li>Terms of Service</li>
            <li>Feedback</li>
        </ul>
    </div>
</div> -->
<div class="page-footer">
    <div class="container-fluid block">
        <div class="row">
            <div class="col-9 col-md-9"><strong>V-GOLOS</strong> - a web application, that allows people to vote <br>
                online and find out result of different elections.
            </div>
            <div class="col-3 col-md-3">
                <div class="row">
                    <div class="col-4 col-md-4"><img src="https://img.icons8.com/windows/32/000000/github.png"></div>
                    <div class="col-4 col-md-4"><img src="https://img.icons8.com/ios-glyphs/30/000000/secured-letter.png"></div>
                    <div class="col-4 col-md-4"><img src="https://img.icons8.com/ios/50/000000/sent-filled.png"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-md-1">Private Policy</div>
            <div class="col-1 col-md-1">Terms of Service</div>
            <div class="col-1 col-md-1">Feedback</div>
        </div>
    </div>
</div>