<div class="container-fluid block pageFooter">
    <div class="row">
        <div class="col-9 col-md-9"><strong>V-GOLOS</strong> - a web application, that allows people to vote <br>
            online and find out result of different elections.
        </div>
        <div class="col-3 col-md-3">
            <div class="row">
                <div class="col-4 col-md-4"><a href ="https://github.com/RomanBoiarchuk/V-Golos.git" target="_blank"><img src="https://img.icons8.com/windows/32/000000/github.png"></a></div>
                <div class="col-4 col-md-4"><a href ="mailto:vgolos2019@gmail.com"><img src="https://img.icons8.com/ios-glyphs/30/000000/secured-letter.png"></a>
                </div>
                <div class="col-4 col-md-4"><a href ="https://t.me/VGolosTelegramSupport" target="_blank"><img src="https://img.icons8.com/ios/50/000000/sent-filled.png"></a></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2 col-md-2"><a href="https://google.com" target="_blank">Private&nbsp;Policy</a></div>
        <div class="col-2 col-md-2"><a href="https://policies.google.com/terms" target="_blank">Terms&nbsp;of&nbsp;Service</a></div>
        <div class="col-1 col-md-1"><a href="https://google.com" target="_blank">Feedback</a></div>
    </div>
</div>
