<div class="container-fluid block pageFooter">
    <div class="row">
        <div class="col-9 col-md-9"><strong>V-GOLOS</strong> - a web application, that allows people to vote <br>
            online and find out result of different elections.
        </div>
        <div class="col-3 col-md-3">
            <div class="row">
                <div class="col-4 col-md-4"><img src="https://img.icons8.com/windows/32/000000/github.png"></div>
                <div class="col-4 col-md-4"><img src="https://img.icons8.com/ios-glyphs/30/000000/secured-letter.png">
                </div>
                <div class="col-4 col-md-4"><img src="https://img.icons8.com/ios/50/000000/sent-filled.png"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2 col-md-2">Private&nbsp;Policy</div>
        <div class="col-2 col-md-2">Terms&nbsp;of&nbsp;Service</div>
        <div class="col-1 col-md-1">Feedback</div>
    </div>
</div>
