<!-- <a [routerLink]="['accounts']">accounts</a> -->
<div class="container-fluid block ">
    <div class="row">
        <div class="col-12 col-md-12 menuNavigation">
            <div class="row text-center h-100 ">
                <div class="col-3 col-md-3 my-auto">
                    <span class="largeWord"><a href="">V-GOLOS</a></span>
                </div>
                <div class="col-1 col-md-1 my-auto "><span class="italics"><a href="">Elections</a></span></div>
                <div class="col-1 col-md-1 my-auto"><span class="italics"><a href="">Voters</a></span></div>
                <div class="col-1 col-md-1 my-auto"><span class="italics"><a href="">Create</a></span></div>
                <div class="offset-4 offset-md-4 col-2 col-md-2 my-auto">
                    <div class="row ">
                        <div class="col-1 col-md-1 ">
                            <button *ngIf="signedIn" (click)="logout()"><img class="invert" src="https://img.icons8.com/metro/26/000000/export.png" alt="LogOut"></button>
                        </div>
                        <div class="col-1 col-md-1 ">
                                <button *ngIf="!signedIn" (click)="signIn()"><img class="invert" src="https://img.icons8.com/metro/26/000000/import.png" alt="SignIn"></button>
                        </div>
                        <div class="col-4 col-md-4 ">
                            <button *ngIf="signedIn" (click)="logout()"><span class="italics">Log&nbsp;Out</span></button>
                            <button *ngIf="!signedIn" (click)="signIn()"><span class="italics">Sign&nbsp;In</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
