<div class="container-fluid block mainPage">
  <div class="row">
    <div class="col-12 col-md-12 text-center bigText">List of Elections</div>
  </div>
  <div class="row ">
    <!-- <div class="offset-8 offset-md-8 col-4 col-md-4">search</div> -->
  </div>
  <div class="row zero text-center">
    <div class="col-1 col-md-1 btmNavOnPageMain">All</div>
    <div class="col-1 col-md-1 btmNavOnPageNoMain"><a [routerLink]="['elections/active']">Active</a></div>
    <div class="col-1 col-md-1 btmNavOnPageNoMain" id="btmComplete"><a [routerLink]="['elections/completed']">Complete</a>
    </div>
  </div>
  <div class="row zero">
    <div class="col-12 col-md-12 page100">
      <div *ngFor="let election of elections" class="elementOfElection">
        <div class="row">
          <div class="offset-1 offset-md-1 col-11 col-md-11">{{election.name}} Tour {{election.tour}}, {{election.year}}</div>
        </div>
        <div class="row">
          <div *ngIf="signedIn; else unset" class="offset-9 offset-md-9"></div>
          <div *ngIf="!signedIn; else unset"  class="offset-6 offset-md-6 col-1 col-md-1 btnService text-center">
              <a [routerLink]="['/elections/' + election.id + '/candidates']">Candidates</a></div>
          <div *ngIf="!signedIn; else unset"  class="col-1 col-md-1 btnService text-center">Edit</div>
          <div *ngIf="!signedIn; else unset"  class="col-1 col-md-1 btnService text-center">
            <a [routerLink]="['/elections/' + election.id + '/delete']">Delete</a></div>
          <div *ngIf="active; else elseBlock" class="col-3 col-md-3 text-center"><button type="vote" value="election.id" class="vote" (click)="vote(election)">Vote</button></div>
          <ng-template #elseBlock class="col-3 col-md-3 text-center"><button type="vote" value="election.id" class="vote" (click)="result(election)">Result</button></ng-template>
          <!-- <div class="col-3 col-md-3 text-center"><button type="vote" value="election.id" class="vote" (click)="vote(election)">Vote</button></div> -->
        </div>
        <div class="row">
          <div class="offset-1 offset-md-1 col-3 col-md-3"><b>Start:</b> {{election.beginningOfVoting | date:'dd-MM-yyyy hh:mm:ss a':'-0000'}}</div>
          <div class="col-3 col-md-3"><b>Finish:</b> {{election.endOfVoting | date:'dd-MM-yyyy hh:mm:ss a':'-0000'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>