.body{
    margin: auto !important;
    min-height: 100vh;
    width:80% !important;
    background: #FFFFFF;
}
.mainPage{
    width: 100% !important;
    margin: auto !important;
    width: 100% !important;
    background: #eeeeee !important;
    height: 100% !important;

}