/* FOR FIVE COL*/
.col-md-five
{
    position: relative !important;
    min-height: 1px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
} 
.col-md-five {
    width: 20% !important;
    float: left !important;
}